## Koşullar
> Bir program esnasında kontrolu sağlayan ve programaların belli bir kurrallara yada koşullara göre nansıl haraket etmesi gerektiğini bildiren yapılardır. 
> + if :  kelime anlamı olarak eğer anlamına gelir ve koşul olarak sunulan kavramın sonucu boolean veri türünde true bir değer döndürürse yapı içerisine girerek içerisindeki kod bloklarını çalıştırır.
> + Elif : Bir durumun sağlanması birden fazla koşula bağlıysa kullanılır.
> + Else :  yapısı ise boolean türünde false değeri döndüğü zaman çalıştırılır.

In [1]:
# İfade True iste döngü çalışır ekrana çıktı verir.

if 1 == 1:
    print("something")

something

In [3]:
# İfade False ise ifade ekrana çıktı vermez.

if 1 == 2:
    print("something")

In [4]:
number = 11

if number ==10:
    print("number is 10")

In [6]:
number = 10

if number ==10:
    print("number is 10")

number is 10

> İşlemler kendini tekrar etmeye başladığında fonksiyon yazılmalıdır.

In [9]:
def number_check(number):
    if number == 10:
        print("number is 10")
    else:
        print("number is not 10")
    
number_check(12)

number is not 10

In [10]:
def number_check(number):
    if number > 10:
        print("greate than 10")
    elif  number < 10:
        print("less than 10")
    else:
        print("equal to 10")
    
number_check(12)

greate than 10

## Döngüler
##### For döngüsü
> Her bir elemena erişmek istediğimizde for döngüsü kullanmamız gerekli.

In [11]:
students = ["Emine", "Ali", "Veli", "Ayşe"]

In [12]:
students[2]

'Veli'

> + Her bir elemanı ekrana yazdırmak

In [13]:
for student in students:
    print(student)

Emine
Ali
Veli
Ayşe

> + str yapıdaki her bir elemanı büyütmek.

In [14]:
for student in students:
    print(student.upper())

EMINE
ALI
VELI
AYŞE

###### Örnek Döngü
> + Her bir maaşı yazdırmak 
> + % 20 zam uygulaması
> + çıktıları int çevirme

In [15]:
salaries = [1000, 2000, 3000, 4000, 5000]

In [16]:
for salary in salaries: 
    print(salary)

1000
2000
3000
4000
5000

In [17]:
for salary in salaries: 
    print(salary * 20 / 100 + salary)

1200.0
2400.0
3600.0
4800.0
6000.0

In [19]:
for salary in salaries: 
    print (int(salary * 20 / 100 + salary))

1200
2400
3600
4800
6000

> + Tekrara düşmemek için fonksiyon ile zam oranını sonradan belirleme

In [29]:
def new_salary(salary, rate):
    return int(salary * rate / 100 + salary)

new_salary(1200, 20)

1440

> + Listediki tüm maaşlara zam yapmak

In [30]:
for salary in salaries:
    print(new_salary(salary, 10))

1100
2200
3300
4400
5500

> + Maaşı 3000 yukarısında olanlar afarklı bir zam, 3000'in aşağısında olanlara farklı bir zam uygulama

In [33]:
for salary in salaries:
    
    if salary < 3000:
        print(salary * 20 / 100 + salary)
    else :
        print(salary * 10 / 100 + salary)

1200.0
2400.0
3300.0
4400.0
5500.0

In [34]:
for salary in salaries:
    
    if salary < 3000:
        print(new_salary(salary, 20))
    else :
        print(new_salary(salary, 10))

1200
2400
3300
4400
5500

## Break, Continue, While
> + Break : aranan ifade bulunduğunda döngünün durmasını sağlar.
> + Continue : belirtilen ifade geldiğinde görmezden gel pas geç.
> + While : dı sürece demektir.

In [35]:
salaries = [1000, 2000, 3000, 4000, 5000]

In [39]:
for salary in salaries:
    if salary == 3000:
        break 
    print(salary)

1000
2000

In [40]:
for salary in salaries:
    if salary == 3000:
        continue 
    print(salary)

1000
2000
4000
5000

In [44]:
number = 1
while number < 5:
    print(number)
    number += 1

1
2
3
4

## Enumerate
> Otomatik index üretici, elemanları gezerken index bilgisini de elde etme.

In [45]:
students = ["Emine", "Ali", "Veli", "Ayşe"]

In [47]:
for index, student in enumerate(students):
    print(index, student)

0 Emine
1 Ali
2 Veli
3 Ayşe

In [49]:
# İndex'i başlamasını istediğimiz değerden başalayabilir.
# enumerate içerisine index bilgisini girbiliriz.

for index, student in enumerate(students, 2):
    print(index, student)

2 Emine
3 Ali
4 Veli
5 Ayşe

###### Çift index' deki öğrenvileri bir listeye tek index'deki öğrencileri bir listeye alma örneği

In [51]:
A = []
B = []
for index, student in enumerate(students):
    if index % 2 == 0:
        A.append(student)
    else:
        B.append(student)

In [55]:
A

['Emine', 'Veli']

In [53]:
B

['Ali', 'Ayşe']

## Alternating Fonksiyonunun Enumerate ile Yazılması
> + Girilen metnin çift index'deki harfleri büyük, tek index'deki harfleri çük yazılacak

In [4]:
def alternatig_with_enumerate(string):
    new_string = ""
    for i, letter in enumerate(string):
        if i % 2 == 0:
            new_string += letter.upper()
        else:
            new_string += letter.lower()
    print(new_string)

alternatig_with_enumerate("merhaba ben emine, Python öğreniyorum")

MeRhAbA BeN EmInE, pYtHoN ÖğReNiYoRuM

## Zip
> Elimizdeki birden farklı listeleri eşlemek için kullanılır. Birbirinden farklı listeleri bir arada değerlendirme fırsatı sağlar.

In [5]:
students = ["Ali", "Mehmet", "Emine", "Leyla"]

In [6]:
departments = ["mathematicd", "statistics", "physics", "astronomy"]

In [7]:
age = [23, 30, 26, 22]

> Genel çıktının liste formatında olmasını istediğimiz için list ffonksiyonunu kullanıyorum, liste içerisinde tuple formatıyla bize çıktıyı  verir.

In [9]:
list(zip(students, departments, age))

[('Ali', 'mathematicd', 23),
 ('Mehmet', 'statistics', 30),
 ('Emine', 'physics', 26),
 ('Leyla', 'astronomy', 22)]

## Lambda 
> + Kullan at fonksiyondur, yani bir atama işlemi yapılmaksızın kullanılabilir.
> + Bir fonksiyon tanımlama şeklidir.

In [12]:
new_sum = lambda a, b: a + b

In [13]:
new_sum(4, 5)

9

## map
> + Bizi döngü yazmaktan kurtarır.
> + Bir fonksiyon ve bu fonksiyona uygulamak istediğimiz bir nesne yazılmalı.

In [14]:
salaries = [1000, 2000, 3000, 4000, 5000]

In [17]:
def new_salary(x):
    return x * 20 / 100 + x

new_salary(5000)

6000.0

In [20]:
for salary in salaries:
    print(new_salary(salary))

1200.0
2400.0
3600.0
4800.0
6000.0

> + map kullanımı liste şeklinde almak istediğimiz için list fonksiyonunu kullanıyoruz.

In [21]:
list(map(new_salary, salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

##### lambda & map ilişkisi
> +  bir fonksiyon tanımlaktansa lambda ile işlemi map içerisine yazılır.

In [22]:
list(map(lambda x: x * 20 / 100 + x, salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

## filter
> + Filtreleme işlemleri için kullanılır.
> + Kullanım sıklığı düşüktür.
> + Belirli bir koşulu sağlayanları seçmek istersek;

In [23]:
list_store = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
list(filter(lambda x: x % 2 == 0, list_store))

[2, 4, 6, 8, 10]

## reduce
> + İndirgemek anlamına gelir.
> + reduce yapısını kullanmak için import etmemiz gerekli.
> + İlgili elemanlara tek tek belirli bir işlemi uygulamak.
> + Aşağıdaki örenekte her bir elemana işlem uygulayıp tek bir sonuç elde etti;

In [27]:
from functools import reduce

In [28]:
list_store = [1, 2, 3, 4]

In [29]:
reduce(lambda a, b: a + b, list_store)

10